<%= form_for @accession_log, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :date_received, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :date_received, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_received_physicians_office, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :date_received_physicians_office, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  accession_logs_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
