<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @account.prefix %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @account.company_name %>
</p>

<p>
  <strong>Accession log:</strong>
  <%= @account.accession_log %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
